extends index

block content
    form(method="POST", action='/users')
        #form-group
            label(for='rol') Rol:
            select#rol
             option(value='Admin') Admin
             option(value='Operador') Operador
             option(value='Administrativo') Administrativo
        #form-group
            label Nick:
            input.form-control(name='nick', type='text' required='')
        #form-group
            label Nombre:
            input.form-control(name='nombre', type='text' required='')
        #form-group
            label Apellidos:
            input.form-control(name='apellidos', type='text' required='')
        #form-group
            label Email:
            input.form-control(name='email', type='email' required='')
        br
        input.btn.btn-primary(type='submit', value='Submit')